#comment {
	background-color: #eee;
	text-align: center;
	border: 2px solid #222;
	margin:  10px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

#comment form.post textarea{
	width: 80%;
}
.pager {
	margin: 2em;
}
.pager a {
	border: solid 2px gray;
	background-color: #ffffff;
	padding: 0.5em 1em;
	border-radius: 3px;
	text-decoration: none;
	margin: 0.5em;
}