body {
	text-align: center;
}

h1 {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 3px;
}

a {
	color: #000000;
}

a:visited {
	color: #595E3C;
}

a:hover {
	color: #404040;
}

#bgi img{
	width: 100%;
	max-width: 700px; /* 最大幅 */
}

@media(min-width:751px){
	/*PC版のみ*/
	.list{
	  display:flex;
	  justify-content: center;
	  width:100%;
	  margin:0 auto;
	}}

table.magazine {
	margin: 0 auto;
}

#comment {
	background-color: #eee;
	text-align: center;
	border: 2px solid #222;
	margin:  10px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

#comment form.post textarea{
	width: 80%;
}

hr {
	margin-top: 1em;
	margin-bottom: 1em;
}

.pager {
	margin: 2em;
}
.pager a {
	border: solid 2px gray;
	background-color: #ffffff;
	padding: 0.5em 1em;
	border-radius: 3px;
	text-decoration: none;
	margin: 0.5em;
}

.bun {display: inline-block;
	text-align: left;
	padding: 15px;}



ul, li, figure, img {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

li {
	width: calc(24.5% - 1px);
	max-width: 200px;
	margin: 0.5em;
}

@media(min-width:751px){
	/*PC版のみ*/
	li {margin: 2em;}}

figure {
position: relative;
padding-top: 100%;
margin-bottom: 3ex;}

.item img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  background-color: rgb(202, 202, 202);
}

.item img:hover {
	opacity: 0.5; /* 25％ほど透明にする */
 }
 
.item p {
	font-size: 2.4vmin;
	top: 95%;
	position: absolute;/*絶対配置*/
	font-weight: bold; /*太字に*/
	}



.announce {display: inline-block;
	text-align: left;
	margin: 0;
	}

.katari img {
	width: 100%;
	max-width: 1000px;
}

.wa{
	margin: 5%;
}
.wa p{
	
	display: inline-block;
	margin: 1% 0;
	}
	
	  @media screen and (max-width: 760px){   
		.pc { display:none; }
	  }
	  @media screen and (min-width: 700px){
		.sp { display:none; }
		.wa p{
			margin: 5px 2px;
			}
	  }
