body { background-color:#eee; text-align: center;}
        
.pic img { max-width: 100%;}
        
hr {margin: 1em 0;}
        
.wa { display: inline-block; margin: 1;}
        
.com { display: inline-block; text-align: left; margin: auto 20;}

a {color: #000000;}

a:visited {color: #595E3C;}

a:hover {color: #404040;}

#comment {
	background-color: #eee;
	border: 2px solid #222;
	margin:  10px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

#comment form.post textarea{width: 80%;}