body {
	text-align: center;
}

h1 {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 3px;
}

a {
	color: #000000;
}

a:visited {
	color: #595E3C;
}

a:hover {
	color: #404040;
}

#comment {
	background-color: #eee;
	text-align: center;
	border: 2px solid #222;
	margin:  10px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

#comment form.post textarea{
	width: 80%;
}

hr {
	margin-top: 1em;
	margin-bottom: 1em;
}

.pager {
	margin: 2em;
}
.pager a {
	border: solid 2px gray;
	background-color: #ffffff;
	padding: 0.5em 1em;
	border-radius: 3px;
	text-decoration: none;
	margin: 0.5em;
}

	.grid {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  gap: 15px;
	}
	

	
	.item img {
	  max-width: 100%;
	}
	
	.item img:hover {
		opacity: 0.5;
	 }
	.item p {
	  text-align: center;
	  font-weight: bolder;
	}


	.charapager{
		margin: 10px;
	}
	
	.charapager a{
		text-decoration: none;
	}
	
	.charapager p {
		
		margin: 0;
		padding: 0;
		font-size: 3em;
	  }

	



	
	

	.chara {
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
	}

	.bun {display: inline-block;
		text-align: left;
		padding: 15px;
		font-size: 20px;
		width: 35em;
		max-width: 100%;
	}
		
	.chara img{
		display: flex;
		width: 100%;
		max-width: 400px; /* 最大幅 */
	}
		  	
	@media(max-width:760px){
		/*スマホ版のみ*/
	
		.grid {
			gap: 0px 15px;
		  }
		.item {
			text-align: center;
			width: 30%;
			padding: 0%;
		  }

		#charapager p {
		font-size: 5vw;
		}

		.chara img{
			max-width: 250px; /* 最大幅 */
		}

		.bun {
			font-size: 100%;
			width: auto;
		}
	}
